.bannerBar {
    background-color: rgb(70, 210, 70);
    clear: both;
}

#bannerLogo {
    font-family: "Raleway", sans-serif;
    font-size: 200%;
    float: left;
}

.fixed_elem {
    position: fixed !important;
}

@font-face {
    font-family: "Raleway";
    src: url("Raleway Thin.ttf");
}